html, body {
  width: 100%;
  height: 100%;
  max-width: 150vw;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  font-family: "Laila", sans-serif;
  color: #463B57;
}
html input:focus, html textarea:focus, html select:focus, body input:focus, body textarea:focus, body select:focus {
  outline: none;
}
html a, body a {
  text-decoration: none;
}

.sticky {
  border-style: none none solid none;
  border-color: #CACFC3;
  border-width: 3px;
  height: 60px;
  width: 100vw;
  margin-bottom: 15px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}
.sticky ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sticky_icky_home {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  width: 25.78125vw;
  border-style: none solid none none;
  border-width: 3px;
  border-color: #CBCFC4;
  height: 60px;
}
.sticky_icky_home_logo {
  height: 60px;
  margin-right: 25px;
}
.sticky_icky_home_logo img {
  height: 60px;
  padding: 0px;
  margin: 0px;
}
.sticky_icky_home .dropItLow.menu_1 {
  z-index: 100;
  font-size: 12px;
  position: absolute;
  display: inline-block;
  background-color: #E6DACC;
  border-style: solid none none none;
  border-width: 3px;
  border-color: #CBCFC4;
  top: 60px;
  width: 90vw;
  height: 600px;
  left: 5vw;
}
.sticky_icky_home .dropItLow.menu_1 .section1 {
  position: absolute;
  right: 50%;
  width: 45%;
  height: 140px;
  top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: none solid none none;
}
border- .sticky_icky_home .dropItLow.menu_1 .section1_phoneNum {
  font-size: 3em;
}
.sticky_icky_home .dropItLow.menu_1 .section1_email {
  font-size: 2em;
}
.sticky_icky_home .dropItLow.menu_1 .section2 {
  position: absolute;
  width: 45%;
  left: 50%;
  height: 140px;
  top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sticky_icky_home .dropItLow.menu_1 .section2_hours {
  font-size: 1.75em;
}
.sticky_icky_home .dropItLow.menu_1 .section2_address {
  margin-left: 15px;
}
.sticky_icky_home .dropItLow.menu_1 .section3 {
  position: absolute;
  width: 95%;
  height: 500px;
  margin-left: 2.5%;
  top: 200px;
}
.sticky_icky_shop {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  width: 18.75vw;
  height: 60px;
  border-style: none solid none none;
  border-width: 3px;
  border-color: #CBCFC4;
}
.sticky_icky_search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27.1875vw;
  height: 60px;
}
.sticky_icky_search .bar {
  width: 21.40625vw;
  height: 56%;
  padding: 0px;
  border-radius: 25px;
  border-style: solid;
  border-width: 3px;
  border-color: #CBCFC4;
}
.sticky_icky_search .bar_search {
  border-radius: 0px 25px 25px 0px;
  padding: 0px;
  width: 88.379%;
  height: 100%;
  float: right;
  border-style: none;
  border-width: 1px;
}
.sticky_icky_search .bar_btn {
  border-radius: 25px 0px 0px 25px;
  border-style: none;
  border-width: 1px;
  border-color: #CBCFC4;
  width: 10.95%;
  height: 100%;
  background: none;
}
.sticky_icky_search .bar_btn_icon {
  font-size: 1.5em;
}
.sticky_icky_search .cart {
  font-size: 1.5em;
  margin-left: 5px;
}

.intro {
  background-image: url(../resources/candyBck.png);
  background-size: contain;
  height: 34.965vw;
  width: 63vw;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  z-index: 15;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro_box {
  height: 270px;
  width: 32.2916666667vw;
  margin-left: -2px;
  margin-top: 55px;
  line-height: 0.75em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.intro_box_text {
  font-size: 1vw;
}
.intro_box_text h1 {
  font-size: 3vw;
  margin-left: -0.25vw;
}

.background {
  background-color: #CBCFC4;
  opacity: 0.5;
  width: 100vw;
  height: 25.990615vw;
  margin-top: -15.311458vw;
}

.container {
  width: 100vw;
  height: 40vw;
  margin-bottom: 30px;
  display: flex;
}
.container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_photoOut {
  width: 49.21875vw;
  height: 31.7337890625vw;
  background-color: #CBCFC4;
  opacity: 0.5;
  z-index: -5;
  margin-top: 100px;
  margin-left: 42.5vw;
}
.container_photoOut_2 {
  width: 49.21875vw;
  height: 31.7337890625vw;
  background-color: #CBCFC4;
  opacity: 0.5;
  z-index: -5;
  margin-top: 100px;
  margin-left: 7.5vw;
}
.container_photoIn {
  width: 49.21875vw;
  height: 31.7337890625vw;
  background-image: url(../resources/collection.png);
  background-size: cover;
  margin-left: -44vw;
  margin-top: 30px;
  box-shadow: -5px 5px 10px #99a18c;
}
.container_photoIn_2 {
  width: 49.21875vw;
  height: 31.7337890625vw;
  background-image: url(../resources/collection.png);
  background-size: cover;
  margin-left: -54vw;
  margin-top: 30px;
  box-shadow: 5px 5px 10px #99a18c;
}
.container_photoIn_3 {
  width: 49.21875vw;
  height: 31.7337890625vw;
  background-image: url(../resources/collection.png);
  background-size: cover;
  margin-left: -44vw;
  margin-top: 30px;
  box-shadow: -5px 5px 10px #99a18c;
}
.container_text, .container_text_3 {
  margin-left: -85vw;
  width: 35vw;
}
.container_text_2, .container_text_3_2 {
  margin-left: 10vw;
  width: 35vw;
}
.container_poloroid_1 {
  background-color: white;
  width: 26.9791666vw;
  height: 38.6458215712vw;
  margin-top: 7.1715145436vw;
  box-shadow: 5px 5px 5px #99a18c;
}
.container_poloroid_1 .photo {
  background-size: cover;
  width: 23.802083333vw;
  height: 23.802083333vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5885416vw;
  box-shadow: 5px 5px 5px black, -5px -5px 5px black, -5px 5px 5px black, 5px -5px 5px black;
}
.container_poloroid_1 .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 19.0416666664vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.7592881833vw;
  font-size: 1.25vw;
}
.container_poloroid_1 .text h2 {
  font-size: 2vw;
  margin-top: -1vw;
  margin-bottom: -10px;
}
.container_poloroid_2 {
  background-color: white;
  width: 26.9791666vw;
  height: 38.6458215712vw;
  margin-top: 7.1715145436vw;
  box-shadow: 5px 5px 5px #99a18c;
}
.container_poloroid_2 .photo {
  background-size: cover;
  width: 23.802083333vw;
  height: 23.802083333vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5885416vw;
  box-shadow: 5px 5px 5px black, -5px -5px 5px black, -5px 5px 5px black, 5px -5px 5px black;
}
.container_poloroid_2 .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 19.0416666664vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.7592881833vw;
  font-size: 1.25vw;
}
.container_poloroid_2 .text h2 {
  font-size: 2vw;
  margin-top: -1vw;
  margin-bottom: -10px;
}
.container_poloroid_3 {
  background-color: white;
  width: 26.9791666vw;
  height: 38.6458215712vw;
  margin-top: 7.1715145436vw;
  box-shadow: 5px 5px 5px #99a18c;
}
.container_poloroid_3 .photo {
  background-size: cover;
  width: 23.802083333vw;
  height: 23.802083333vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5885416vw;
  box-shadow: 5px 5px 5px black, -5px -5px 5px black, -5px 5px 5px black, 5px -5px 5px black;
}
.container_poloroid_3 .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 19.0416666664vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.7592881833vw;
  font-size: 1.25vw;
}
.container_poloroid_3 .text h2 {
  font-size: 2vw;
  margin-top: -1vw;
  margin-bottom: -10px;
}

#breakThat {
  background-image: url(../resources/emmiesBck.png);
  height: 50vw;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

ul.dropItLow {
  visibility: hidden;
}
ul.dropItLow li {
  display: none;
}

li:hover > ul.dropItLow {
  visibility: visible;
}
li:hover > ul.dropItLow li {
  display: block;
}

li:hover > ul.dropItLow.menu_1 {
  display: block;
  visibility: visible;
  opacity: 0;
  animation: menu1 300ms ease-in-out forwards;
  z-index: 100;
}
li:hover > ul.dropItLow.menu_1 li {
  opacity: 0;
  animation: menu1 900ms ease-in-out forwards;
}

@keyframes menu1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
