$primary: #CACFC3;
$windmill: #AAB7BC;
$windmillAlt: #AAB7BC;
$creme: #E6DACC;
$emmiesRoom: #CBCFC4;
$text: #463B57;


@mixin centering {
    display: flex;
    justify-content: center;
    align-items: center; 
}





html,body {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    font-family: 'Laila', sans-serif;
    input:focus, textarea:focus, select:focus {
        outline: none;
    }
    & a{
        text-decoration: none;
    }
    

}

.sticky {
    border-style: none none solid none;
    border-color: $primary;
    border-width: 3px;
    height: 60px;
    color: #000;
    width: 100vw;
    margin-bottom: 15px;
    // @include centering();
    & ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
        @include centering();
    }
    &_icky {
        
        &_home {
            // background-color: $primary;
            @include centering();
            font-size: 35px;
            color: $text;
            width: 25.78125vw;
            border-style: none solid none none;
            border-width: 3px;
            border-color: $emmiesRoom;
            height: 60px;
            &_logo {
                height: 60px;
                margin-right: 25px;
                & img {
                    height: 60px;
                    padding: 0px;
                    margin: 0px;
                }
            }
            & .dropItLow.menu_1{
                
                font-size: 12px;
                position: absolute;
                display: inline-block;
                background-color: #AAB7BC;
                top: 63px;
                width: 90vw;
                height: 60vh;
                left: 5vw;
                & .section1 {
                    position: absolute;
                    background-color: $creme;
                    right: 50%;
                    width: 45%;
                    top: 10%;
                }
                & .section2 {
                    position: absolute;
                    background-color: $creme;
                    width: 45%;
                    left: 50%;
                }
                & .section3 {
                    position: absolute;
                    width: 95%;
                    height: 500px;
                    margin-left: 2.5%;
                    top: 200px;
                }
                
            }
        }
        &_shop {
            // background-color: $windmill;
            @include centering();
            color: $text;
            font-size: 35px;
            width: 18.75vw;
            height: 60px;
            border-style: none solid none none;
            border-width: 3px;
            border-color: $emmiesRoom;
        }
        &_search {
            @include centering();
            // background-color: $creme;
            width: 27.1875vw;
            height: 60px;
            & .bar {
                width: 21.40625vw;
                height: 56%;
                padding: 0px;
                border-radius: 25px;
                border-style: solid;
                border-width: 3px;
                border-color: $emmiesRoom;
                // background-color: $emmiesRoom;
                &_search {
                    border-radius: 0px 25px 25px 0px;
                    padding: 0px;
                    width: 88.379%;
                    height: 100%;
                    float: right;
                    border-style: none;
                    border-width: 1px;
                    
                }
                &_btn {
                    border-radius: 25px 0px 0px 25px;
                    border-style: none;
                    border-width: 1px;
                    border-color: $emmiesRoom;
                    width: 10.95%;
                    height: 100%;
                    
                    background: none;
                    // background-color: $emmiesRoom;
                    &_icon {
                        // color: $windmill;
                        font-size: 1.5em;
                    }
                }
            }
            .cart {
                font-size: 1.5em;
                margin-left: 5px;
            }
        }
        
    }
}
// ul.dropItLow {
//     // display: none;
//     visibility: hidden;
//     li {
//         display: none;
//     }
// }
// li:hover > ul.dropItLow {
//     // display: block;
//     visibility: visible;
//     li {
//         display: block;
//     }

// }

// li:hover > ul.dropItLow.menu_1 {
//     display: block;
//     visibility: visible;
//     opacity: 0;
//     animation: menu1 300ms ease-in-out forwards;
//     z-index: 10;
//     li {
//         opacity: 0;
//         animation: menu1 900ms ease-in-out forwards;
//     }

// }
// @keyframes menu1 {
//     0% {
//         opacity: 0;
//     }
//     100% {
//         opacity: 1;
//     }
// }